<div class="hidden md:block w-64 bg-gray-900 min-h-screen border-r border-gray-800 p-6">
  <div class="mb-12 px-4">
    <h1 class="text-2xl font-extrabold text-amber-100 ">Dashboard Bank</h1>
  </div>

  <nav class="space-y-4"> <a routerLink="/dashboard" 
       routerLinkActive="bg-blue-600 text-white shadow-lg shadow-blue-900/20" 
       class="flex items-center gap-3 px-4 py-3 rounded-xl text-gray-200 hover:bg-gray-800 hover:text-white transition-all duration-300 font-bold group">
      <span>Dashboard</span>
    </a>

    <a routerLink="/customers" 
       routerLinkActive="bg-blue-600 text-white shadow-lg shadow-blue-900/20" 
       class="flex items-center gap-3 px-4 py-3 rounded-xl text-gray-200 hover:bg-gray-800 hover:text-white transition-all duration-300 font-bold group">
      <span>Customers</span>
    </a>

    <a routerLink="/Settings" 
       routerLinkActive="bg-blue-600 text-white shadow-lg shadow-blue-900/20" 
       class="flex items-center gap-3 px-4 py-3 rounded-xl text-gray-200 hover:bg-gray-800 hover:text-white transition-all duration-300 font-bold group">
      <span>Settings</span>
    </a>

  </nav>
</div>